/******************** Global ********************/

body{ font: 15px/1.5 Arial, Helvetica,sans-serif; padding:0; margin:0; background-color:#f4f4f4; width: 100%;}
.container{ width:80%; margin:auto; overflow:hidden;}
ul{ margin:0; padding:0;}
.highlight{ color:#ff0000; font-weight:bold;}
a{ color:#ffffff; text-decoration:none; font-size:15px;}
a:hover{ color:#ff0000; text-decoration: none;}
header, section, footer, aside, nav, main, article, figure {display: block;}

/******************** Header ********************/
header{ background:#35424a; color:#ffffff; padding-top:30px; min-height:70px;border-bottom:#c00000 5px solid;}
header li{ float:left; display:inline;padding: 0 20px 0 20px;}
header #titleOfPage{ float:left; margin:0;}
header nav{ float:right; margin-top:10px;}

/******************** Grid ********************/
.grid{ width: 100%; position: relative; margin: 0 auto; padding: 0;}
.grid .box{float: left; display: inline; margin:10px; width:%30;}
.grid:after { content: '\0020'; display: block; height: 0; clear: both; visibility: hidden; }
.grid .row:before,.row:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.grid .row:after{clear: both; }
.grid .row{zoom: 1;}

/******************** Content ********************/
#content {width:100%; margin:0 auto;}
.feature{margin-bottom:20px;}
.welcome{margin: 0px 20px 20px 20px;font-size:20px; text-align:center;}
.block01{ text-align:center; padding-bottom:20px;}
.block01 article{width:250px; margin:0 auto; background:#EEEEEE; border-bottom:2px solid #999;}
.block01 img{-webkit-filter: grayscale(100%);}
.block01 a img {-webkit-transition: all 0.5s;}
.block01 a img:hover {-webkit-filter: none;}
.block01 a img.brightness:hover {-webkit-filter: brightness(0);}
.block01 h2{font-size:14px; padding:10px 0px;}

/******************** Copyright ********************/
footer .copyright{text-align:center; background:#333333; height:30px; color:#8C9999;}
footer .copyright a{color:#8C9999; text-decoration:underline;}
footer .copyright a:hover{color:#CCCCCC; text-decoration:none;}