/******************** Global ********************/
@-ms-viewport{ width: device-width;}
body{ width:100%; padding:0; margin:0; font:15px/1.5 Arial, Helvetica, sans-serif!important; background-color:#f4f4f4;}
ul{ margin:0; padding:0;}
.highlight{ color:#ff0000; font-weight:bold;}

/******************** Just in case compatibility problems ********************/
header, section, footer, aside, nav, main, article, figure{ display: block;}
/********************* Header *********************/
header{ border-bottom: 3px solid #f00;}
#navDropdown{ margin-top:34px!important; margin:auto;}
.navBarItem{ text-decoration:none;}
@media only screen and (max-width:539px){#navDropdown{ width:300px;}#navLiItem{ height:34px; width:250px; overflow:hidden; margin:auto;}}
@media only screen and (min-width:540px){header nav{ padding-top:20px!important; float:right!important;} #navDropdown{ width:250px;}}
@media only screen and (min-width:850px){#navLiItem{ height:34px; width:50px; transition: width 0.3s ease 0s; overflow:hidden; margin:auto;} #navLiItem:hover{width:250px;}}

/******************** introduction ********************/

#introduction{ height:275px; background: #f4f4f4 url("../images/VEX In the Zone.png") no-repeat center top; background-size:100%; }
#introduction img{ margin-top:0px; width:20%;}
@media only screen and (min-width:450px){#introduction{ height:225px;}}
@media only screen and (min-width:500px){#introduction{ height:254px;}}
@media only screen and (min-width:550px){#introduction{ height:282px;}}
@media only screen and (min-width:600px){#introduction{ height:310px;}}
@media only screen and (min-width:650px){#introduction{ height:338px;}}
@media only screen and (min-width:700px){#introduction{ height:366px;}}
@media only screen and (min-width:750px){#introduction{ height:395px;}}
@media only screen and (min-width:800px){#introduction{background-size:872px 450px;} #introduction img{width:174px; height:135px;}}

/******************** Boxes ********************/
#boxes{ margin-top:20px; width:100%!important;}
#boxes .box{ text-align: center; padding:10px;}
#boxes .box h3{ font-size:18px!important;}
#boxes .box img{ width:150px;}

/******************* W3.CSS - Pro ***************/
.w3-red-text{ color:#f00!important;}
.w3-gray-text{ color:#35424a!important;}
.w3-black-text{	color:#000!important;}
.w3-white-text{	color:#fff!important;}

.w3-red-bg{	background-color:#f00!important;}
.w3-gray-bg{background-color:#35424a!important;}
.w3-black-bg{ background-color:#000!important;}
.w3-white-bg{ background-color:#f4f4f4!important;}

.w3-hover-red-text:hover{color:#f00!important;}
.w3-hover-gray-text:hover{ color:#35424a!important;}
.w3-hover-black-text:hover{ color:#000!important;}
.w3-hover-white-text:hover{ color:#fff!important;}

.w3-hover-red-bg:hover{ background-color:#f00!important;}
.w3-hover-gray-bg:hover{ background-color:#35424a!important;}
.w3-hover-black-bg:hover{ background-color:#000!important;}
.w3-hover-white-bg:hover{ background-color:#f4f4f4!important;}
